.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0px, 20px, 20px, 20px;
}

.nav__logo{
    width: 120px;
    object-fit: contain;
    left:20px;


}_

.nav__avatar{
    width: 30px;
    object-fit: contain;
}