.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #000;
}

.nav__logo{
    width: 120px;
    object-fit: contain;
    left:20px;


}_

.nav__avatar{
    width: 30px;
    right: 20px;
    width: 30px;
    object-fit: contain;
}