.row__posters{
    display: flex; 
}

.row__poster{
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 100px;
    transition: transform 450ms;
}

.row__poster:hover{
    transform: scale(1.08);
}

